<div class="backhome">
    <div class="formhome">
        <div class="column formhome__image">

            <img src="./assets/login.png">
        </div>
        <div class="column formhome__form">
            <img src="./assets/logo.png">
            <h1>Log In to Admin Panel</h1>
            <h4>Enter your phone number and password below</h4>
            <p>Phone Number</p>
            <input type="number" value="Enter your phone number">
            <p>Password</p>
            <input type="password" value="Enter your password">
        </div>
    </div>
</div>